
<div style="margin-top:5rem">
  <button type="button" class="btn btn-primary" (click)="onNewRecipe()" >New recipe</button>
  <h3 class="text-primary" style="margin-top:2rem">My recipes List:</h3>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4" *ngFor="let recipe of recipes; let i = index">

<div class="card border-primary mb-3" style="max-width: 20rem;" >
  <div class="card-header">Recipe n° {{i+1}}</div>
  <div class="card-body">
      <h4 class="card-title"><a [routerLink]="['/recipes/view', recipe.recipeId, 'private']">{{recipe.name}}</a></h4>
      <img src={{recipe.attachmentUrl}} class="img-fluid" alt="image">
    <div class="row" style="margin-top: 0.8rem;">
      <div class="col-xs-6 col-md-8">
        <p class="card-subtitle mb-2 text-muted" style="font-size:0.9rem;">Preparation time: {{recipe.preparationTime}}</p>
        <p class="card-subtitle mb-2 text-muted" style="font-size:0.9rem;">Cooking time: {{recipe.cookingTime}}</p>
        <p class="card-subtitle mb-2 text-dark">Category: {{recipe.category}}</p>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="btn-group float-right" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-primary" (click)="onUploadImg(recipe.recipeId)">
        <span class="fas fa-pen" aria-hidden="true"></span>
      </button>
      <button type="button" class="btn btn-outline-primary" (click)="onUpdateRecipe(recipe.recipeId)">
        <span class="fas fa-edit" aria-hidden="true"></span>
      </button>

      <button type="button" class="btn btn-outline-primary" (click)="onDeleteRecipe(recipe.recipeId)">
        <span class="fas fa-trash" aria-hidden="true"></span>
      </button>

      <button type="button" [ngClass]="{'btn':true,
                                        'btn-outline-primary': recipe.private===1,
                                        'btn-outline-dark': recipe.private===0}" alt="Share" (click)="onShareRecipe(recipe.recipeId)">
        <span class="fas fa-share" aria-hidden="true"></span>
      </button>
    </div>
  </div>
</div>
</div>
</div>
