<form [formGroup]="updateForm" (ngSubmit)="onUpdateRecipe()" style="margin-top:5rem">
  <fieldset>
    <legend>Update recipe: </legend>

    <div class="form-group">
      <label for="preparationTime" class="form-label mt-4">Preparation time</label>
      <input type="text" class="form-control" id="preparationTime" aria-describedby="nameHelp"
      placeholder="Enter a preparation time" formControlName="preparationTime">
      <div *ngIf="preparationTime?.invalid && (preparationTime?.dirty || preparationTime?.touched)"
      class="alert alert-danger">
      <small class="text-danger"
        *ngIf="preparationTime?.hasError('required')">
        This field is required.
    </small>
    <small *ngIf="preparationTime?.hasError('minlength')">
      Preparation time must be at least 2 characters long.
    </small>
      </div>
    </div>

      <div class="form-group">
        <label for="cookingTime" class="form-label mt-4">Cooking time</label>
        <input type="text" class="form-control" id="cookingTime" aria-describedby="nameHelp"
        placeholder="Enter a cooking time" formControlName="cookingTime">
        <div *ngIf="cookingTime?.invalid && (cookingTime?.dirty || cookingTime?.touched)"
        class="alert alert-danger">
        <small class="text-danger"
          *ngIf="cookingTime?.hasError('required')">
          This field is required.
      </small>
      <small *ngIf="cookingTime?.hasError('minlength')">
        Cooking time must be at least 2 characters long.
      </small>
        </div>

    </div>

    <button type="submit" class="btn btn-primary" [disabled]="updateForm.invalid">Update</button>
  </fieldset>
</form>
